body{
	background-image: url(../images/background.jpg);
  background-repeat:no-repeat;
  background-size:100% 100%; 
  background-attachment: fixed;
}
.app-location h1{
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 1.6em;
  font-weight: 300;
}
.app-location{
  width: 28%;
  margin:0 auto;
  text-align: center;
  background: #323542;
  padding:4em;
  margin-top: 8%;
}
form {
   padding: 0% 1%;
}
.app-location input[type="text"],.app-location input[type="password"]{
  width: 81.2%;
  padding: 1.1em 1em 1.1em 4em;
  color: #858282;
  font-size: 16px;
  outline: none;
  background: #fff;
  font-weight: 500;
  border: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  margin:0.7em 0;
   background: url("../images/icons.png") no-repeat 14px 16px #474a55;
  }
.app-location input[type="password"]{
      background: url("../images/icons.png") no-repeat 13px -61px #474a55;
  }
  .submit {
  margin: 1em 0;
  }
.app-location input[type="submit"]{
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 17px 15px;
  width:100%;
  border:3px solid #0bd38a;
  background: #0bd38a;
  border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
}
input[type="submit"]:hover{
  background:none;
  border: 3px solid #0bd38a;
  color: #0bd38a;

}
.app-location input[type="text"], .app-location input[type="password"] {
  width: 82.7%;
  }
@media (max-width:768px){
  body h1 {
  font-size: 2.4em;
  }
.app-location {
    width: 63%;
}
}
@media (max-width:640px){
 .app-location {
  width: 69%;
}
.app-location input[type="text"], .app-location input[type="password"] {
  width: 81%;
}
}
@media (max-width:480px){
  
  .app-location {
  width: 90%;
  padding: 2em 1em 1em 1em;
}
  form {
  width: 82%;
  margin: 0 auto;
}
.app-location input[type="text"], .app-location input[type="password"] {
  width: 76.8%;
  margin: 0.4em 0;
}
}
@media (max-width:320px){
  .app-location {
  width: 87%;
  padding: 2em 1em 1em 1em;
}
.submit {
  margin: 0.5em 0;
}
.app-location input[type="submit"] {
  font-size: 18px;
  padding: 11px 11px;
  }
form {
  width: 87%;
  margin: 0 auto;
}
}
.new {
  margin: 4em 0 1em 0;
}
.new h3{
  float:left;
}
.new h3 a,.new h4 a{
  color:#78797C;
  font-weight: 400;
  font-size: 1em;
}
.new h3 a:hover,.new h4 a:hover{
  text-decoration: underline;
}
.new h4{
  float:right;
}
.new h3 a, .new h4 a {
  font-size: 0.9em;
  }
  form {
  width: 82%;
  margin: 0 auto;
}
.new h3 a, .new h4 a {
  font-size: 0.75em;
}
.new {
  margin: 2em 0 1em 0;
}
